### Arithmetric operators

### Addition

In [1]:
print(3 + 5)

8

### Subtraction

In [3]:
print(10 - 5)

5

### Multiplication

In [4]:
print(20 * 5)

100

### Division

In [8]:
print(60/6)

10.0

### Exponentiation

In [9]:
print(3 ** 2)

9

### Modulus

In [10]:
print(9 % 2)

1

### Round Division

In [11]:
print(9// 2)

4

My electricity bills for the last three months have been $23, $32 and $64. What is the average monthly electricity bill over the three month period? Write an expression to calculate the mean, and use print() to view the result.

In [14]:
print((23 + 32 + 64)/3)

39.666666666666664

In this quiz you're going to do some calculations for a tiler. Two parts of a floor need tiling. One part is 9 tiles wide by 7 tiles long, the other is 5 tiles wide by 7 tiles long. Tiles come in packages of 6.

How many tiles are needed?

In [15]:
print((9*7)+(5*7))

98

You buy 17 packages of tiles containing 6 tiles each. How many tiles will be left over?

In [16]:
print((17*6)-((9*7)+(5*7)))

4

### Variables and Assignment Operators

In [17]:
 x = 10
 y = x 
print (y)

10

In [18]:
x,y,z = 1,4,5
print (y)

4

In [19]:
mv_population = 74728
mv_population = 74728 + 4000 - 600
print(mv_population)

78128

Quiz: Changing Variable Values

In [20]:
carrots = 24
rabbits = 8
crs_per_rab = carrots/rabbits
print(crs_per_rab)

3.0

In [21]:
rabbits = 12
print(crs_per_rab)

3.0

In [22]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall = rainfall*0.9

# add the rainfall variable to the reservoir_volume variable
reservoir_volume =reservoir_volume + rainfall

# increase reservoir_volume by 5% to account for stormwater that flows

reservoir_volume =reservoir_volume*1.05
# into the reservoir in the days following the storm

# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume =reservoir_volume*.95

# subtract 2.5e5 cubic metres from reservoir_volume to account for water
# that's piped to arid regions.

reservoir_volume =reservoir_volume - 2.5e5
# print the new value of the reservoir_volume variable
print(reservoir_volume)

447627500.0

### Integers & Floats

In [23]:
x = int(4.7)   # x is now an integer 
y = float(4)   # y is now a float

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

### Data types

### Lists and Membership Operators

In [24]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [25]:
print(months[0])

January

In [27]:
print(months[11])

December

In [29]:
q3 = months[6:9] #slicing the 3rd quarter of the year
print (q3)

['July', 'August', 'September']

In [30]:
q2 = months[6:]

In [31]:
print (q2)

['July', 'August', 'September', 'October', 'November', 'December']

In [32]:
print(len(months))

12

### Membership operators - in and not in

In [36]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

### Mutability and Order

In [37]:
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst) I #Lists are mutable but strings are not

['one', 2, 3, 4, 5]

In [1]:
name = "-".join(["García", "O'Kelly"]) # List methods -join
print(name)

García-O'Kelly

In [2]:
new_str = "\n".join(["fore", "aft", "starboard", "port"]) #add new line
print(new_str)

fore
aft
starboard
port

In [3]:
letters = ['a', 'b', 'c', 'd'] # List methods - append
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

### Tuples - Used to store related pieces of information - Always related like latitude and longitude

### Tuples are like Lists but they are immutable

In [4]:
Location = (13.4125, 103.866667)
print(type(Location))

<class 'tuple'>

In [5]:
location2 = (13.4125, 103.866667)
print("Latitude:", location2[0])
print("Longitude:", location2[1])

Latitude: 13.4125
Longitude: 103.866667

In [6]:
dimensions = 52, 40, 100
length, width, height = dimensions
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

### Sets

### A set is a data type for mutable unordered collections of unique elements. Sets comes with no particular order - Set can be created from a list and duplicates removed.

### Sets used add method while list uses append method --- country_set.add(""), pop method

In [7]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

### Dictionaries and Identity Operators

### A dictionary is a mutable data type that stores mappings of unique keys to values. Has get method, is_null method for checking if null, not_null method to check for the opposite

In [8]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [9]:
print(elements["helium"])

2

In [10]:
elements["lithium"] = 3

In [11]:
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [12]:
print("carbon" in elements)

True

In [13]:
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [14]:
print(elements.get("dilithium"))

None

In [15]:
print(elements.get("hydrogen"))

1

### Compound Data Structures - Nested dictionary

In [16]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [17]:
helium = elements["helium"]

In [18]:
hydrogen_weight = elements["hydrogen"]["weight"]

In [19]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary
print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

### Conditional Statements - Running code only if a particular condition holds

### If Statement --- Use Comparison Operators in Conditional Statements (== or !=)

### The if statement goes with a colon :

In [23]:

phone_balance = 4
bank_balance = 50

if phone_balance < 10:
    phone_balance += 10
    bank_balance -= 10

print(phone_balance)
print(bank_balance)

14
40

In [25]:
number = 120
if number % 2 == 0:
    print("Number " + str(number) + " is even.")
else:
    print("Number " + str(number) + " is odd.")

Number 120 is even.

In [30]:
age = 4

# Here are the age limits for bus fares
free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

# These lines determine the bus fare prices
concession_ticket = 1.25
adult_ticket = 2.50

# Here is the logic for bus fare prices
if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket

message = "Somebody who is {} years old will pay ${} to ride the bus.".format(age, ticket_price)
print(message)

Somebody who is 4 years old will pay $0 to ride the bus.

In [33]:
season = "winter"  ### IF, ELIF, ELSE

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

stay indoors!

### Boolean Expressions for Conditions

In [40]:
weight = 60
height = 150

if 18.5 <= weight / height**2 < 25:
    print("BMI is considered 'normal'")

### For Loops - Definate iteration

Python has two kinds of loops - for loops and while loops. A for loop is used to "iterate", or do something repeatedly, over an iterable.

An iterable is an object that can return one of its elements at a time. This can include sequence types, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files.

In [42]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)

new york city
mountain view
chicago
los angeles

### Using the range() Function with for Loops --- range( starat, stop, step) -- all variable must be integers

range() is a built-in function used to create an iterable sequence of numbers. You will frequently use range() with a for loop to repeat an action a certain number of times. Any variable can be used to iterate through the numbers, but Python programmers conventionally use i, as in this example:

In [43]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

### Where Loops